/* public */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  height: 100vh;
  font-size: 1.2em;
}

/********************* généralité ***********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black; /* couleur à redéfinir */
}

.likefb {
  display: inline-flex;
}

/* TRANSITION sur les liens */
.minititle a:hover,
nav a:hover,
a:hover {
  color: rgb(181, 202, 246);
}

ul {
  padding-left: 0;
}

/* les formulaires */
input,
textarea,
select {
  margin: 1em 0;
  width: 100%;
}

.hide {
  position: absolute;
  opacity: 1;
  z-index: +1;
  margin-top: 10em;
  left: 35%;
  right: 35%;
  padding: 2em;
  background: rgb(232, 232, 232);
  border: 0.1em solid rgb(207, 207, 207);
  border-radius: 3em;
  min-width: 30em;
  height: auto;
}

/* TRANSITION overlay */
#wrap {
  display: flex;
  position: absolute;
  z-index: +1;
  height: 100vh;
  width: 100%;
  background: rgba(9, 9, 9, 0.8);
}

/***************** Header ******************/
header {
  background: rgb(39, 56, 92);
  padding: 2em;
  height: 10em;
  border: solid 0.3em black;
}

.title {
  display: inline-block;
  font-size: 4em;
  color: white;
}

.minititle {
  float: right;
  font-size: 2.5em;
  display: inline-block;
  color: white;
}

.session {
  font-size: 2.5rem;
}

.logout {
  font-size: 1.5rem;
}

.minititle a,
.title a {
  color: white;
}

/* bouton admin */
.buttonAdmin,
.buttonLoc {
  display: inline-block;
  margin-top: -6em;
  text-align: center;
}

.admin,
.activLoc {
  width: 15em;
  height: 3em;
  background: rgb(181, 202, 246);
  border: 0.2em solid black;
  border-radius: 2em;
  cursor: pointer;
}

/********************** Navigation ********************/
nav {
  text-align: center;
  margin-top: 3em;
}

nav a {
  display: inline-block;
  padding: 0 2em;
  font-size: 2.5em;
}

/********************* Main ******************/

/* page Avis */
.avis {
  font-size: 2.5em;
  color: rgb(39, 56, 92);
}

.customReview {
  margin: 5em auto 0;
  width: 60%;
  min-height: 10em;
  border: solid 0.1em rgb(39, 56, 92);
  border-radius: 3em;
  box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(39, 56, 92);
  padding: 1em;
}

/* page Contact */
.contact {
  text-align: center;
  font-size: 1.5em;
}

.star {
  color: red;
}

/******************* géolocalisation *************/

/* Style de la map */
#map {
  display: block;
  width: 50em;
  height: 40em;
  margin: 0 auto;
}

/* L'image contenant le lien vers la page de geolocalisation */
.geolocalisation_lien {
  display: block;
  margin: 0 auto;
  max-width: 20em;
}

/* Le paragraphe juste au dessus du lien vers la geolocalisation */
.geolocalisation_para {
  margin-top: 4em;
  text-align: center;
  font-size: 2em;
}

/* image du lien */
.geolocalisation_img {
  background: white;
  max-width: 20em;
  padding: 1em;
  border-radius: 5em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(39, 56, 92);
}

/****************** Footer *****************/
footer {
  margin-top: 4em;
  background: rgb(39, 56, 92);
  padding: 2em;
  border: solid 0.3em black;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
}

footer li {
  display: inline-block;
  padding: 0 2em;
  color: white;
}

li {
  list-style: none;
  font-size: 2.5em;
}
