/* public */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  height: 100vh;
}

/******************** généralité ********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

/******************** les formulaires ********************/
input,
textarea,
select {
  margin: 1em 0;
  width: 100%;
}

.hide {
  position: absolute;
  opacity: 1;
  z-index: +1;
  margin-top: 10em;
  left: 35%;
  right: 35%;
  padding: 2em;
  background: rgb(232, 232, 232);
  border: 0.1em solid rgb(207, 207, 207);
  border-radius: 3em;
  min-width: 30em;
  height: auto;
}

.star,
.fa-power-off {
  color: red;
}

/* TRANSITION overlay */
#wrap {
  display: flex;
  position: absolute;
  z-index: +1;
  height: 112vh;
  width: 100%;
  background: rgba(9, 9, 9, 0.8);
}

/******************** Header ********************/
header {
  background-image: url('http://localhost/W-projectWF3/public/assets/images/port.jpg');
  background-size: cover;
  background-position: center 30%;
  padding: 2em;
  height: 25em;
  border: solid 0.3em white;
  color: white;
}

.title {
  display: inline-block;
  font-size: 4em;
}

.minititle {
  float: right;
  font-size: 2.5em;
  display: inline-block;
}

/* TRANSITION sur les liens */
.minititle a:hover,
a:hover {
  color: rgb(181, 202, 246);
}

.session {
  font-size: 2.5rem;
}

.logout {
  font-size: 1.5rem;
}

.minititle a {
  color: white;
}

/* bouton admin */
.buttonLoc {
  display: inline-block;
  margin-top: -6em;
  text-align: center;
}

.activLoc {
  width: 10em;
  height: 3em;
  background: rgb(181, 202, 246);
  border: 0.2em solid black;
  border-radius: 2em;
  cursor: pointer;
}

/******************** Navigation ********************/
.tabs {
  display: flex;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  padding: 0 15%;
  background: rgb(181, 202, 246);

}

.tab {
  display: block;
  padding: 1em;
  transition: all 0.25s ease-out;
  color: white;
}

.selected {
  background: rgb(49, 113, 250);
}

.tab:hover {
  background: rgb(147, 176, 237);
}

.tab-content {
  min-height: 100em;
  padding: 1em;
}

/******************** Main ********************/

/* page Avis */
.avis {
  font-size: 2.5em;
}

.customReview {
  margin: 5em auto 0;
  padding: 1em;
  color: black;
  width: 60%;
  min-height: 10em;
  border: solid 0.1em rgb(49, 113, 250);
  border-radius: 3em;
  box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(49, 113, 250);
  background-color: rgba(255, 255, 255, 0.8);
}

/* frame réseaux sociaux */
.likefb {
  display: flex;
  /*padding-top: 15em; /* voir en accord avec map */
  justify-content: center;
}

/* page Contact */
.contact {
  width: 60%;
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
  color: white;
}

/******************** géolocalisation ********************/

/* Style de la map */
#map {
  display: block;
  margin: 0 auto 3em;
  width: 50em;
  height: 40em;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(49, 113, 250);
}

/* Le lien image vers la page de geolocalisation */
.geolocalisation_lien {
  display: block;
  margin: 0 auto;
  max-width: 4em;
}

/* Le paragraphe juste au dessus du lien vers la geolocalisation */
.geolocalisation_para {
  text-align: center;
  font-size: 2em;
}

/* image du lien */
.gps_img {
  background: white;
  max-width: 2em;
  max-height: 2em;
  padding: 0.1em;

  /*box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(39, 56, 92);*/
}

/******************** Footer ********************/
footer {
  background: rgb(49, 113, 250);
  padding: 2em;
  border: solid 0.3em white;
  text-align: center;
  width: 100%;
  height: 10em;
}

footer a {
  color: white;
}

footer li {
  display: inline-block;
  padding: 0 2em;
  /*color: white;*/
}

.socialmedia {
  display: inline-block;
}

/* ----------- format Tablette (basé sur le iPad) -------- */

@media (max-width: 80em) {

  /******************** Navigation ********************/
  .tabs {
    padding: 0;
    font-size: 2em;
  }

  .tab-content {
    min-height: 80em;
  }

  #map {
    max-width: 60em;
    height: 35em;
  }

  .title {
    font-size: 2.8em;
  }

  .likefb {
    padding-top: 4em;
  }

  .socialmedia {
    display: inline-flex;
  }

  footer {
    height: 12em;
    padding: 1em;
  }

  footer li {
    display: flex;
    flex-direction: column;
  }

  .hide {
    margin-top: 5em;
  }
}

/*------------------- Responsive Mobile -------------------*/
@media screen and (max-width: 36em) {

  /******************** header ********************/
 header {
   height: 15em;
 }

  .title {
    font-size: 2em;
  }

  .session,
  .logout,
  #signup,
  #login {
    font-size: 0.6em;
  }

  .activLoc {
    display: inline-block;
    width: 5em;
    height: 2em;
  }

  /******************** Navigation ********************/
.tabs {
  height: 3.2em;
  font-size: 0.75em;
}

.tab {
  display: inline-block;
}

  section {
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  }

  /* Fait disparaitre les petites box fb et tweet parce que pourquoi pas */
  .likefb {
    display: none;
    visibility: hidden;
  }

  /*********** Main ***************/
  /*main {
    height: 64em;
    width: 36em;
  }*/

  #map {
    width: 34em;
    height: 25em;
    text-shadow: none;
  }

  /************ Page Avis ************/
  .customReview {
    width: 90%;
    font-size: 1.35em;
    text-shadow: none;
  }

  /************** Page contact ************/
  .contact {
    margin: 0 auto;
  }

  /*************** Formulaires **************/
  .hide {
    left: 10%;
    right: 10%;
    color: black;
    text-shadow: none;
    margin-top: 4em;
  }

  #wrap {
    height: 130vh;
  }

  /************** Footer *****************/

  footer {
    position: relative;
    height: 12em;
    padding: 1em;
  }

  footer li {
    padding: 0;
    display: block;
  }

  .socialmedia {
    display: inline-flex;
  }

  .socialmedia li {
    margin-left: 0.5em;
  }
}
