label {
  color: rgb(49, 113, 250);
}

table {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border: 0.2em solid black;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(49, 113, 250);
  background: rgba(255, 255, 255, 0.8);
}

th,
tr,
td {
  border: 0.1em solid black;
}

form {
  margin: 1em;
  padding: 0.5em;
}

button {
  background: white;
  width: 2.5em;
  height: 2em;
  cursor: pointer;
}

.table-title {
  display:
  text-align: center;
  background: rgba(9, 244, 19, 0.7);
  padding: 1em;
  border-radius: 1em;
  font-size: 1.5em;
  min-width: 12em;
  height: 3em;
}

.fa-pencil {
  color: orange;
}

.fa-trash {
  color: red;
}
